extends ./layout.jade

block vars
  - var title = 'About'

block content

  div.container
    div.row
      div.col-sm-8
        h1 About Me
        div.myImg
          img(src="/images/Workout.jpg", alt="generic placeholder image", height="200", width="300")
        p.
          Fitness has been a key part of my life for many years. I grew up playing football, hockey, basketball, soccer and baseball. Working out started as a hobby. I soon became addicted, spending literally thousands of hours in the gym (over a 4 year span). I stared doing more research on diet. I then went to elevated learning academy and received my fitness diploma through ACE. After graduating I instantly became more fit while helping many others around me reach their fitness goals. Kolotylo fitness was founded to help people stay looking and feeling amazing. 
        p.
          Many deaths around me over the last couple years could have been avoided. I stared taking things a lot more personal when I realized I could save people's lives. This is my main motivation. My goal is to transform as many people as possible. Commitment will get you to your goals, my package will help your crush your goals.
      
      //Contact Form Template
      div.col-sm-4
        div.well.well-sm
          form.form-horizontal(method='post')
            fieldset
              legend.text-center.header Contact Me
              div.form-group
                //span.col-md-1-offset-2.text-center
                  //i.fa.fa-user.bigicon
                div.col-md-12.text-center
                  input#fname.form-control(name='name', type='text', placeholder='First Name')
              div.form-group
                //span.col-md-1.col-md-offset-2.text-center
                  //i.fa.fa-user.bigicon
                div.col-md-12.text-center
                  input#lname.form-control(name='name', type='text', placeholder='Last Name')
              div.form-group
                //span.col-md-1.col-md-offset-2.text-center
                  //i.fa.fa-envelope-o.bigicon
                div.col-md-12.text-center
                  input#email.form-control(name='email', type='text', placeholder='Email Address')
              div.form-group
                //span.col-md-1.col-md-offset-2.text-center
                  //i.fa.fa-phone-square.bigicon
                div.col-md-12.text-center
                  input#phone.form-control(name='phone', type='text', placeholder='Phone')
              div.form-group
                //span.col-md-1.col-md-offset-2.text-center
                  //i.fa.fa-pencil-square-o.bigicon
                div.col-md-12.text-center
                  textarea#message.form-control(name='message', placeholder='If you have any questions or concerns, feel free to leave your message here. I will get back to you as soon as possible.', rows='7')
              div.form-group
                div.col-md-12.text-center
                  button.btn.btn-primary.btn-lg(type='submit') Submit



