extends ./layout.jade

block vars
  - var title = 'About'

block content

  p.
    Fitness has been a key part of my life for many years. I grew up playing football, hockey, basketball, soccer and baseball. Working out started as a hobby. I soon became addicted, spending literally thousands of hours in the gym (over a 4 year span). I stared doing more research on diet. I then went to elevated learning academy and received my fitness diploma through ACE. After graduating I instantly became more fit while helping many others around me reach their fitness goals. Kolotylo fitness was founded to help people stay looking and feeling amazing. 
  p.
    Many deaths around me over the last couple years could have been avoided. I stared taking things a lot more personal when I realized I could save people's lives. This is my main motivation. My goal is to transform as many people as possible. Commitment will get you to your goals, my package will help your crush your goals.
