extends ./layout.jade

block vars
  - var title = 'Payment Cancelled'

block content
  div.homeContainer
    .panel.panel-danger
      .panel-heading Payment Cancelled
      .panel-body Sorry but we were unable to recieve you're payment. Please try again or contact us in the about page.
