extends ./layout.jade

block vars
  - var title = 'Home'

block content
    div.quote
      p(style='white-space:pre;')
        | "At Kolotylo Fitness we are dedicated 
        |                              about improving your health and fitness"
    div.homeContainer
      div.row
        div.col-sm-12

        div#slider.carousel.slide(data-ride="carousel")

          //indicators dot nav
          ol.carousel-indicators
            li(data-target="#slider" data-slide-to="0" class="active")
            li(data-target="#slider" data-slide-to="1")
            li(data-target="#slider" data-slide-to="2")
            li(data-target="#slider" data-slide-to="3")
            li(data-target="#slider" data-slide-to="4")


          //wrapper for slides
          div.carousel-inner(role="listbox")
            
            //picture slides
            div.item.active
              img(src="/images/home1.png" alt="slider picture" class="carouselPicture")
              div.carousel-caption
                h1 

            div.item
              img(src="/images/home2.png" alt="slider picture" class="carouselPicture")
              div.carousel-caption
                h1 

            div.item
              img(src="/images/home3.png" alt="slider picture" class="carouselPicture")
              div.carousel-caption
                h1 

          //controls, next, prev buttons
          a(class="left carousel-control" href="#slider" role="button" data-slide="prev")
            span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
            span(class="sr-only") Previous

          a(class="right carousel-control" href="#slider" role="button" data-slide="next")
            span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
            span(class="sr-only") Next

  