extends ./layout.jade

block vars
  - var title = 'Legal'

block content
  div.container
    div.row
      div.col-sm-10.col-sm-offset-1
        h1 Legal Notices
    div.row
      div.col-sm-10.col-sm-offset-1
        p.
          The owners and contributors to the Site will be referred to as “we,” “us,” or “our” in these Terms. By using the Site or its Services, and/or by clicking anywhere on this Site to agree to these Terms, you are deemed to be a “user” for purposes of the Terms. You and every other user (“you” or “User” as applicable) are bound by these Terms. You and each user also agree to the Terms by using the Services. If any User does not agree to the Terms or the Privacy Policy, such User may not access the Site or use the Services. In these Terms, the word “Site” includes the site referenced above, its owner(s), contributors, suppliers, licensors, and other related parties.
    div.row
      div.col-sm-10.col-sm-offset-1
        h5 User Prohibited From Illegal Uses
        p.
          User shall not use, and shall not allow any person to use, the Site or Services in any way that violates a federal, state, or local law, regulation, or ordinance, or for any disruptive, tortious, or illegal purpose, including but not limited to harassment, slander, defamation, data theft or inappropriate dissemination, or improper surveillance of any person.
    div.row
      div.col-sm-10.col-sm-offset-1
        h5 User represents and warrants that:
        ul
          li User will use the Services only as provided in these Terms;
          li User is at least 18 years old and has all right, authority, and capacity to agree to these Terms;
          li User will provide accurate, complete, and current information to the Site and its owner(s);
          li User will notify the Site and its owner(s) regarding any material change to information User provides, either by updating and correcting the information, or by alerting the Site and its owner(s) via the functions of the Site or the email address provided below.
    div.row
      div.col-sm-10.col-sm-offset-1
        h5 Disclaimer of Warranties
        p.
          TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE SITE PROVIDES THE SERVICES “AS IS,” WITH ALL FAULTS. THE SITE DOES NOT WARRANT UNINTERRUPTED USE OR OPERATION OF THE SERVICES, OR THAT ANY DATA WILL BE TRANSMITTED IN A MANNER THAT IS TIMELY, UNCORRUPTED, FREE OF INTERFERENCE, OR SECURE. THE SITE DISCLAIMS REPRESENTATIONS, WARRANTIES, AND CONDITIONS OF ANY KIND, WHETHER EXPRESS, IMPLIED, WRITTEN, ORAL, CONTRACTUAL, COMMON LAW, OR STATUTORY, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES, DUTIES, OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, OR THAT MAY ARISE FROM A COURSE OF DEALING OR USAGE OF TRADE.
    div.row
      div.col-sm-10.col-sm-offset-1
        h5 Liability Is Limited
        p.
          THE SITE SHALL NOT BE LIABLE FOR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO LOST PROFITS (REGARDLESS OF WHETHER WE HAVE BEEN NOTIFIED THAT SUCH LOSS MAY OCCUR) OR EXPOSURE TO ANY THIRD PARTY CLAIMS BY REASON OF ANY ACT OR OMISSION. THE SITE SHALL NOT BE LIABLE FOR ANY ACT OR OMISSION OF ANY THIRD PARTY INVOLVED WITH THE SERVICES, SITE OFFERS, OR ANY ACT BY SITE USERS. THE SITE SHALL NOT BE LIABLE FOR ANY DAMAGES THAT RESULT FROM ANY SERVICE PROVIDED BY, OR PRODUCT OR DEVICE MANUFACTURED BY, THIRD PARTIES.
        p.
          NOTWITHSTANDING ANY DAMAGES THAT USER MAY SUFFER FOR ANY REASON, THE ENTIRE LIABILITY OF THE SITE IN CONNECTION WITH THE SITE OR SERVICES, AND ANY PARTY’S EXCLUSIVE REMEDY, SHALL BE LIMITED TO THE AMOUNT, IF ANY, ACTUALLY PAID BY USER TO THE SITE OWNER DURING THE 12 MONTHS PRIOR TO THE EVENT THAT USER CLAIMS CAUSED THE DAMAGES.
        p.
          The Site shall not be liable for any damages incurred as a result of any loss, disclosure, or third party use of information, regardless of whether such disclosure or use is with or without User’s knowledge or consent. The Site shall have no liability for any damages related to: User’s actions or failures to act, the acts or omissions of any third party, including but not limited to any telecommunications service provider, or events or causes beyond the Site’s reasonable control. The Site has no obligations whatever, and shall have no liability to, any third party who is not a User bound by these Terms. Limitations, exclusions, and disclaimers in these Terms shall apply to the maximum extent permitted by applicable law, even if any remedy fails its essential purpose.
    div.row
      div.col-sm-10.col-sm-offset-1
        h5 Third party products, links, and actions
        p.
          The Site may include or offer third party products or services. The Site may also have other users or members who interact with each other, through the Site, elsewhere online, or in person. These third party products and any linked sites have separate and independent terms of service and privacy policies. We have no control or responsibility for the content and activities of these linked sites, sellers, and third parties in general, regardless of whether you first were introduced or interacted with such businesses, services, products, and people through the Site, and therefore you agree that we are not liable for any of them. We do, however, welcome any feedback about these sites, sellers, other users or members, and third parties.
    div.row
      div.col-sm-10.col-sm-offset-1
        h5 Changes to the Site and the Services
        p.
          The owners and contributors to the Site will work to improve the Site for our users, and to further our business interests in the Site. We reserve the right to add, change, and remove features, content, and data, including the right to add or change any pricing terms. You agree that we will not be liable for any such changes. Neither your use of the Site nor these terms give you any right, title, or protectable legal interest in the Site or its content.
    div.row
      div.col-sm-10.col-sm-offset-1
        h5 Indemnity
        p.
          If your activity or any activity on your behalf creates potential or actual liability for us, or for any of our users, partners, or contributors, you agree to indemnify and hold us and any such user, partner, contributor, or any agent harmless from and against all claims, costs of defense and judgment, liabilities, legal fees, damages, losses, and other expenses in relation to any claims or actions arising out of or relating to your use of the Site, or any breach by you of these Terms of Use.
    div.row
      div.col-sm-10.col-sm-offset-1
        h5 Disputes
        p. 
          We are based in and you are contracting to use our Site. This Policy and all matters arising from your use of the Site are governed by and will be construed according to the laws of , without regard to any choice of laws rules of any jurisdiction. The federal courts and state courts that have geographical jurisdiction over disputes arising at our office location in will be the only permissible venues for any and all disputes arising out of or in connection with this Policy or the Site and Service.   
    div.row
      div.col-sm-10.col-sm-offset-1
        h5 No Users Under the Age of 13
        p.
          The Site is not intended for children under the age of 13. Children under the age of 13 should not use the Site at any time. We do not knowingly collect personal information from children under the age of 13. If we obtain actual knowledge that we have collected information from anyone under the age of 13, we will erase that information from our servers. It is a violation of our Terms of Service for children under the age of 13 to use the Site.
    div.row
      div.col-sm-10.col-sm-offset-1.text-center
        p For any other inquiries please contact @ kolotylofitness@gmail.com                                    



