extends ./layout.jade

block vars
  - var title = 'Packages'

block content

  //Grid layout for displaying workout images and package info 
  div.container
    h1 Workout Packages
    //Abs workout
    div.row
      div.col-sm-4
        div.workoutImg
          img(src="/images/ab-workout.jpg", alt="Abs", height="200", width="300")
      div.col-sm-8
        h3 Abs Workout (Unisex) 
        ul#abs
          li 6 pack abs
          li V line define
          li Strengthen core and back
        p. 
          This 3 month program is exactly what you need if your looking to obtain abs. The program offers a variety of core exercises and movements that will target different muscles in your abdominal. You will need to follow the schedule. There is no shortcuts when it comes to getting abs. I have the blue print to help you achieve your goal. So what are you waiting for?   

        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='hosted_button_id', value='9BP53K2ZU8KBG')
          input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
          img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')


    //Tall guy shred
    div.row
      div.col-sm-4
        div.workoutImg
          img(src="/images/delt.jpg", alt="Abs", height="200", width="300")
      div.col-sm-8
        h3 Tall Guy Shred 
        ul#abs
          li Build muscle
          li Improve posture
          li Increase flexibility 
        p. 
          This 3 month program is dedicated to males 6’2 and up. The longer the muscle, the harder It is to add mass. Believe me. I'm 6’6. It took years of trial and error before I finally figured out an effective way to gain muscle. Not just gain muscle. But stay flexible and aesthetic. If you’re a taller male and cant figure out how to get those next level gains then this package is for you. 

        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='hosted_button_id', value='7MJCK4A55W8HS')
          input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
          img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

    //Full body toner 
    div.row
      div.col-sm-4
        div.workoutImg
          img(src="/images/Best.jpg", alt="Full body Toner", height="200", width="300")
      div.col-sm-8
        h3 Fully Body Toner / Unisex 
        ul#toner
          li Flexibility and explosion
          li Weight loss
          li Calisthenics
        p.
          This 3 month program is a blueprint to tone up while losing weight. The full body toner consists of more repetitions and plow metric movements. If your not looking to get major hypertrophy (muscle). But rather a slim, toned look, then this program is for you. Keep in mind this is a great program to do with a parter! 


        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='hosted_button_id', value='DY2E6V6E97EHS')
          input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
          img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

    //Custom workout
    div.row
      div.col-sm-4
        div.workoutImg
          img(src="/images/bicep.jpg", alt="Bicep", height="200", width="300")
      div.col-sm-6
        h3 Custom Made Program

        ul#custom
          li Professionally made specifically for you
          li Your own unique program
          li Based on your abiities and goals

        p.
          This program can be 3, 6, 9 or 12 months. This package is catered to your goals, previous injuries, medical history and any other detail to make your program perfect. Whether  your goal is extreme weight loss, higher vertical jump or anything other goal you have.. Kolotylo Fitness is dedicated to creating the perfect package to help you succeed.
        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='hosted_button_id', value='QZ2AYSAQA2ET4')
          input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
          img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
          input(type='hidden', name='cmd', value='_s-xclick')
          input(type='hidden', name='hosted_button_id', value='KUQX8RKL7PQPG')
          input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
          img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')






