extends ./layout.jade

block vars
  - var title = 'Packages'

block content

  //Grid layout for displaying workout images and package info 
  div.container
    
    //Abs workout
    div.row
      div.col-sm-4
        div.workoutImg
          img(src="/images/ab-workout.jpg", alt="Abs", height="200", width="300")
      div.col-sm-8
        h3 Abs Workout (Unisex) 
        ul#abs
          li 6 pack abs
          li V line define
          li Strengthen core and back
        p. 
          This 3 month program is exactly what you need if your looking to obtain abs. The program offers a variety of core exercises and movements that will target different muscles in your abdominal. You will need to follow the schedule. There is no shortcuts when it comes to getting abs. I have the blue print to help you achieve your goal. So what are you waiting for?   
        a(href="/"): button.btn.btn-primary Price 
    
    //Full body toner 
    div.row
      div.col-sm-4
        div.workoutImg
          img(src="/images/Best.jpg", alt="Full body Toner", height="200", width="300")
      div.col-sm-8
        h3 Fully Body Toner / Unisex 
        ul#toner
          li Flexibility and explosion
          li Weight loss
          li Calisthenics
        p.
          This 3 month program is a blueprint to tone up while losing weight. The full body toner consists of more repetitions and plow metric movements. If your not looking to get major hypertrophy (muscle). But rather a slim, toned look, then this program is for you. Keep in mind this is a great program to do with a parter! 
        a(href="/"): button.btn.btn-primary Price 
    
    //Custom workout
    div.row
      div.col-sm-4
        div.workoutImg
          img(src="/images/bicep.jpg", alt="Bicep", height="200", width="300")
      div.col-sm-6
        h3 Custom Made Program

        ul#custom
          li Professionally made specifically for you
          li Your own unique program
          li Based on your abiities and goals

        p.
          This program can be 3, 6, 9 or 12 months. This package is catered to your goals, previous injuries, medical history and any other detail to make your program perfect. Whether  your goal is extreme weight loss, higher vertical jump or anything other goal you have.. Kolotylo Fitness is dedicated to creating the perfect package to help you succeed.
        a(href="/"): button.btn.btn-primary Price 




