extends ./layout.jade

block vars
  - var title = 'Payment Successful'

block content
  div.homeContainer
    .panel.panel-success
      .panel-heading Email Sent!
      .panel-body Thank you for your inquiries. We will get back to you as soon as possible.
