extends ./layout.jade

block vars
  - var title = 'Payment Successful'

block content
  div.homeContainer
    .panel.panel-success
      .panel-heading Payment Successful!
      .panel-body Jonny Kolotylo will be in contact with you within 24 hours
